section
{
    margin: 62px 150px 80px 390px;
}

.boutton
{
    background-color: silver;
    padding: 10px 10px 10px 10px;
    color: gray;
    font-size: .8em;
    font-weight: bold;
}

input
{
    margin-left: 350px;
    height: 32px;
    width: 580px;
}

footer
{
    background-color: silver;
position: fixed;
bottom: 0;
left: 0;
right: 0;
}

#boutton
{
    margin-left: 480px;
}
