section
{
    margin: 62px 150px 20px 390px;
}

.boutton
{
    background-color: #F2F2F2;
    padding: 8px 15px 8px 15px;
    color: gray;
    font-size: .8em;
    font-weight: bold;
}

input
{
    margin-left: 350px;
    height: 32px;
    width: 580px;
}

a
{
    color: black;
    text-decoration: none;
}

a:hover
{
    border: solid gray 1px;
    color: black;
}

footer
{
background-color: #F2F2F2;
position: fixed;
bottom: 0;
left: 0;
right: 0;
}

#boutton
{
    margin-left: 490px;
    padding-top: 35px;
}

.gauche

{
    padding: 8px 8px 8px 8px;
    font-size: .8em;
}

.droite
{
    padding: 8px 8px 8px 8px;
    font-size: .8em;
}

#droite
{
    margin-left: 730px;
}
